.form  {
  display: flex;
  flex-direction: column;
  /* height: 150px; */
}

.inputWrap {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-right: unset;
}

.inputWrap > div:first-child {
  margin-bottom: 1rem;
}

.label {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #212121;
  display: none;
}

.input::placeholder {
  opacity: 0.6;
}

.login {
  width: 100%;
  height: 80px;
  padding: 0 0.5rem;
  text-align: center;
  color: var(--brand-border-color);
  border: solid 3px var(--brand-border-color);
  border-radius: 20px;
  background-color: white;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: var(--shadow-small);
  margin: 1rem auto;
}

.login:hover {
  transform: var(--translate-3d);
  box-shadow: none;
}

.login.isLoading {
  color: #BCBCBC;
  border-color: #BCBCBC;
}

.joinWrap {
  display: flex;
  justify-content: center;
}

.join {
  color: #BCBCBC;
  text-align: center;
  transition: var(--transition-color);
}

.join:hover {
  color: var(--brand-border-color);
}

@media (min-width: 430px) {
  .form {
    flex-direction: row;
    margin-bottom: 1.5rem;
  }

  .inputWrap {
    margin-right: 1.5rem;
  }

  .label {
    display: inline;
  }

  .inputWrap > div:first-child {
    margin-bottom: 1.5rem;
  }

  .input::placeholder {
    opacity: 0;
  }

  .login {
    width: 100px;
    height: inherit;
    margin: unset;
  }
}