.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  padding: 0 0.5rem;
  color: var(--brand-border-color);
  border: solid 3px var(--brand-border-color);
  border-radius: var(--brand-rounded-large);
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: var(--shadow-small);
  background-color: var(--brand-text-color-light);
}

.button:hover {
  transform: var(--translate-3d);
  box-shadow: none;
}