.section {
  width: 100%;
  margin-top: 80px;
  padding: 50px 0;
  display: flex;
  min-height: calc(100vh - 80px);
}

.section > span {
  margin: 0 auto;
}

.section > h2 {
  margin-bottom: 1rem;
}

.section .h2 {
  margin-bottom: 2rem;
}

.section:has(div.noDiary) > .diaryWrap {
  display: none;
}

.section:has(div.noFliter) > .diaryWrap {
  flex: unset;
}

.diaryWrap {
  flex: 1;
  width: 75%;
  margin: 0 auto;
}

.orderBox {
  text-align: right;
  margin-bottom: 1.5rem;
}

.orderSelect {
  cursor: pointer;
  width: max-content;
  padding: 0 5px;
  height: 35px;
  color: var(--brand-border-color);
  background-color: var(--brand-text-color-light);
  border: 3px solid var(--brand-border-color);
  border-radius: var(--brand-rounded-medium);
  font-family: var(--brand-font);
  box-shadow: var(--shadow-small);
  text-align: center;
  text-align-last: center;
  font-size: 1rem;
}

.orderSelect:hover  {
  transform: var(--translate-3d);
  box-shadow: none;
}

.orderSelect:focus  {
  outline: none;
}

.diaryList {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 500px));
  justify-content: center;
}

.diaryLink {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.diaryCard {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  border-radius: var(--brand-rounded-medium);
  overflow: hidden;
  box-shadow: var(--shadow-small);
}

.diaryCard:hover {
  cursor: pointer;
  transform: var(--translate-3d);
  box-shadow: none;
}

.diaryImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--brand-color);
}

.diaryTitleWrap {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: calc(100% - 3rem);
  align-items: center;
  margin: 1.5rem;
  padding: 0.5rem;
  color: var(--brand-text-color-dark);
  background-color: var(--brand-text-color-light);
  border-radius: var(--brand-rounded);
  opacity: 0.95;
  transform: rotate(1deg);
}

.diaryList > a:nth-child(odd) > li > div {
  transform: rotate(-1deg);
}

.diaryTitleWrap > p {
  width: 100%;
  height: 100%;
  line-height: 2.3rem;
  padding: 0 0.5rem;
  border: 3px dotted var(--brand-point-color);
  border-radius: var(--brand-rounded);
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diaryCard > div > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.diaryCard > div > div:nth-child(3) {
  text-align: center;           
}

.updateButton {
  width: 100px;
  height: 50px;
  padding: 0 0.5rem;
  text-align: center;
  color: var(--brand-border-color);
  border: 3px solid var(--brand-border-color);
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: var(--shadow-small);
  background-color: var(--brand-text-color-light);
}

.noDiary,
.noFliter {
  width: var(--brand-width);
  max-width: 500px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dotted var(--brand-color);
  border-radius: var(--brand-rounded-medium);
}

.noDiary > p,
.noFliter > p {
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}

.noDiary > a,
.noFliter > p {
  color: #BCBCBC;
  text-align: center;
  transition: var(--transition-color);
}

.noDiary > a:hover,
.noFliter > a:hover {
  color: var(--brand-border-color);
}

@media (max-width: 300px) {
  .diaryTitleWrap {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  
  .diaryTitleWrap > p {
    line-height: 2rem;
    font-size: 0.9rem;
  }
}

/* @media (min-width: 640px) {
  .diaryList {
    grid-template-columns: repeat(2, 300px);
  }

  .orderBox {
    width: 616px;
  }
}

@media (min-width: 1024px) {
  .diaryList {
    grid-template-columns: repeat(3, 300px);
  }

  .orderBox {
    width: 932px;
  }
} */

