.form {
  text-align: center;
}

.inputWrap {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.inputWrap > div {
  display: flex;
  align-items: center;
}

.label {
  display: none;
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: hsl(0, 0%, 13%);
}

.input {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  resize: none;
}

.input::placeholder {
  opacity: 0.6;
}

textarea.input::-webkit-scrollbar {
  background-color: lightgray;
  border-radius: 10px;
}

textarea.input::-webkit-scrollbar-thumb {
  background-color: var(--brand-border-color);
  border-radius: 10px;
}

.withdrawalWrap {
  width: 200px;
  height: 1rem;
  display: flex;
  justify-content: flex-end;
}

.withdrawalWrap > button {
  color: #BCBCBC;
  text-align: center;
  transition: var(--transition-color);
  font-size: 1rem;
  border-bottom: 1px solid #BCBCBC;
}

@media (min-width: 450px) {
  .form > .inputWrap {
    padding-right: 7.8rem;
  }

  .label {
    display: inline;
  }

  .input::placeholder {
    opacity: 0;
  }
}
