.section {
  height: calc(100vh - 80px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  /* @media only screen and (hover: hover) and (pointer: coarse) and (max-width: 450px) {
      height: 100%;
      margin-top: 80px;
  }
  @media only screen and (hover: none) and (pointer: coarse) and (max-width: 450px) {
      height: 100%;
      margin-top: 80px;
  } */
}
  
.form {
  text-align: center;
}
  
.form > div:not(:last-child) {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;
  padding-right: 7rem;
  /* @media only screen and (max-width: 450px) {
      padding-right: 0;
      width: min-content;
  } */
}

.form > div > div:not(:last-child) {
  margin-bottom: 1rem;
  position: relative;
}

.form > div > div > label {
  margin-right: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #212121;
  /* @media only screen and (max-width: 450px) {
      margin-right: 0;
  } */
}

.button {
  border: #997000 solid 3px;
  font-weight: bold;
  font-size: 0.7rem;
  background-color: rgba(255, 255, 240, 1);
  border-radius: 10px;
  position: absolute;
  width: 50px;
  height: 100%;
  line-height: 100%;
  right: -60px;

  /* @media only screen and (max-width: 450px) {
      width: 50px;
      height: 50px;
      right: -60px;
  } */
}

.additionalTab {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.additionalTab > button {
  color: #BCBCBC;
  text-align: center;
  transition: var(--transition-color);
  font-size: 1rem;
  border-bottom: 1px solid #BCBCBC;
  /* border: 3px solid #997000;
  font-weight: bold;
  border-radius: 10px;
  width: max-content;
  padding: 0.3rem;
  background-color: rgba(255, 255, 240, 1); */
}