header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid var(--brand-gray-color);
  background-color: var(--brand-bg-color);
  z-index: 10;
}

.title {
  transition: var(--transition-color);
}

.title:hover {
  color: var(--brand-border-color);
}

.menuIcon {
  font-size: 30px;
  transition: var(--transition-color);
}

.menuIcon:hover {
  cursor: pointer;
  color: var(--brand-border-color);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-text-color-light);
  z-index: 10;
  overflow-y: scroll;
}

.menuTop {
  height: 80px;
  cursor: pointer;
  text-align: right;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--brand-gray-color);
}

.login {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  color: var(--brand-border-color);
  border: var(--brand-border-color) solid 3px;
  border-radius: 20px;
  background-color: white;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: var(--shadow-small);
}

.login:hover {
  transform: var(--translate-3d);
  box-shadow: none;
}

.cancel {
  border: none;
  box-shadow: none;
  width: max-content;
}

.cancel > svg {
  font-size: 27px;
  transition: var(--transition-color);
}

.cancel > svg:hover {
  color: var(--brand-border-color);
}

.menuBottom {
  width: 100%;
  max-width: 350px;
  list-style: none;
  margin: 0 auto;
  padding: 50px 25px;
}

.menuBottom > li:not(:last-child) {
  margin-bottom: 25px; 
}

.menuBottom > li > a {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  color: var(--brand-border-color);
  border: var(--brand-border-color) solid 3px;
  border-radius: 20px;
  background-color: white;
  font-size: 1.3rem;
  font-weight: bold;
  box-shadow: var(--shadow-small);
}

.menuBottom > li > a:hover {
  transition: var(--transition-color);
  transform: translate(3px, 3px);
  box-shadow: none;
}
