.section {
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ruleButtonWrap {
  display: flex;
  justify-content: flex-end;
  width: 75% !important;
  text-align: right;
  margin-bottom: 1rem !important;
  column-gap: 0.5rem;
}

.ruleButton {
  width: max-content;
  height: inherit;
  padding: 3px;
  text-align: center;
  color: var(--brand-border-color);
  border: solid 3px var(--brand-border-color);
  border-radius: 20px;
  background-color: var(--brand-text-color-light);
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: var(--shadow-small);
  border-radius: var(--brand-rounded);
}

.ruleButton:hover {
  box-shadow: none;
  transform: var(--translate-3d);
}

.controlButton {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: var(--shadow-small);
  border-radius: 100%;
  padding: 5px;
}

.controlButton:hover {
  box-shadow: none;
  transform: var(--translate-3d);
}

.controlButton > img {
  width: 100%;
  height: 100%;
  transform: translateX(1px);
}

.diaryInfo {
  width: 75%;
  margin: 0 auto;
}

.buttonWrap > a {
  margin-right: 0;
}
