.section {
  flex-direction: column;
}

.table {
  color: white;
  background-color: var(--brand-color);
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow-small);
}

.th {
  font-size: 1.3rem;
  height: 50px;
  border: 2px solid white;
  border-right: none;
  border-top: none;
  background-color: var(--brand-point-color);
}
    
.th:first-child {
    border-left: none;
}

.th:last-child {
    border-right: none;
}

.rows > .td:first-child {
  color: var(--brand-gray-color);
}
  
.td {
  position: relative;
  width: calc((100vw * 0.1));
  height: calc((100vw * 0.1));
  border: 2px solid var(--brand-text-color-light);
  vertical-align: top;
  border-bottom: none;
  padding: 3px 0px;
  font-size: 0.9rem;
}

.td.today {
  color: var(--brand-point-color);
}

.td:first-child {
  border-left: none;
}

.td:last-child {
  border-right: none;
}

.otherMonth {
  color: rgba(244, 243, 243, 0.534);
  /* position: absolute;
  top: 25%;
  left: 25%;
  width: 50px;
  height: 50px; */

  /* @media only screen and (max-width: 700px) {
    width: 25px;
    height: 25px;
  } */
}

.intro {
  width: 100%;
  text-align: center;
  line-height: 4rem;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1.5rem;
  flex-direction: column;

  /* @media only screen and (max-width: 700px) {
    font-size: 1.5rem;
  } */
}

.dog {
  color: var(--brand-color);
}

.footprint {
  color: var(--brand-title-color);
}

.use {
  color: #BCBCBC;
  text-align: center;
  transition: var(--transition-color);
}

@media screen and (min-width: 1024px) {
  .td {
    width: 102px;
    height: 102px;
  }
}