.section > div {
  width: 75%;
}

.table {
  width: 100%;
  position: relative;
  padding-top: 90%;
  margin: 0 auto;
  color: var(--brand-text-color-light);
  border-radius: var(--brand-rounded);
  box-shadow: var(--shadow-small);
}

.thead,
.tbody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.thead {
  border-radius: var(--brand-rounded) var(--brand-rounded) 0 0;
  overflow: hidden;
}

.tbody {
  top: 42px;
  height: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  border-radius: 0 0 var(--brand-rounded) var(--brand-rounded);
  overflow: hidden;
}

.thead > tr,
.tbody > tr {
  display: flex;
  width: 100%;
  column-gap: 2px;
}

.thead > tr  {
  height: 40px;
}

.th {
  font-size: 1.3rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  border-top: none;
  background-color: var(--brand-point-color);
}

.td {
  position: relative;
  flex: 1;
  height: 100%;
  vertical-align: top;
  border-bottom: none;
  padding: 3px 0px;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  background-color: var(--brand-color);
  padding: 3px;
}

.attendance {
  position: absolute;
  top: 40%;
  left: 35%;
  object-fit: contain;
  width: 50%;
}

.td:first-child {
  color: gray;
}

.td.today {
  color: var(--brand-point-color);
}

.otherMonth {
  color: rgba(244, 243, 243, 0.534) !important;
}

.intro {
  width: 100%;
  text-align: center;
  line-height: 4rem;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1.5rem;
  flex-direction: column;
}

.dog {
  color: var(--brand-color);
}

.footprint {
  color: var(--brand-point-color);
}

.use {
  color: #BCBCBC;
  text-align: center;
  transition: var(--transition-color);
}
