.Banner {
  height: calc( 100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Banner h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.Banner table {
  color: white;
  background-color: skyblue;
  border-collapse: collapse;
  border-radius: 30px;
  overflow: hidden;
}

.Banner th {
  font-size: 1.3rem;
  height: 50px;
  border: 2px solid white;
}

.Banner td {
  position: relative;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  vertical-align: top;
}

.otherMonth {
  color: rgba(244, 243, 243, 0.534);
}

.attendance {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50px;
  height: 50px;
}

.intro {
  width: 100%;
  text-align: center;
  line-height: 4rem;
  font-size: 1.8rem;
  color: black;
}