/* Join & Mypage */
.Join {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoTitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.notice {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 30px;
    margin-bottom: 0.5rem;
}

.notice img {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}

.infoForm {
    text-align: center;
}
  
.formSection {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
    padding-right: 3rem;
}

.formItem {
    margin-bottom: 1rem;
}

.itemLabel {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.itemInput {
    width: 200px;
    height: 40px;
    background-color: skyblue;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}