.Mypage {
    height: calc( 100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoTitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}
  
.infoForm {
    text-align: center;
}
  
.formSection {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1rem;
    padding-right: 7rem;
}

.formItem {
    margin-bottom: 1rem;
    position: relative;
}

.itemLabel {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.itemInput {
    width: 200px;
    height: 40px;
    background-color: skyblue;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}

.addPetButton {
    border: #997000 solid 3px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    position: absolute;
    width: 50px;
    height: 100%;
    right: -60px;
}

.addPetButton:hover {
    cursor: pointer;
}

.removePetButton {
    right: -120px;
}

.additionalTab {
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}