.background {
  position: fixed;
  background-color: transparent;
  width: 100%;
  max-width: 480px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  justify-content: center;
  align-items: center;
  display: flex;
}

.background.notOpacity {
  background-color: var(--brand-bg-color);
}

.postIt {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--brand-beige-color);
  border-radius: var(--brand-rounded-large) var(--brand-rounded-large) 0 var(--brand-rounded-large);
  box-shadow: var(--shadow-small);
  justify-content: center;
  align-items: center;
}

.postIt.alert {
  background-color: var(--brand-beige-color);
}

.postIt > .account:not(:last-child) {
  margin-bottom: 5px;
}

.postIt:hover::before {
  border-bottom: 15px solid var(--brand-border-color);
}

.postIt::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  border-bottom: 15px solid gray;
  border-left: 15px solid rgba(0, 0, 0, 0);
}

.closeButton {
  top: 20px;
  right: 15px;
  position: absolute;
}

.closeButton svg {
  width: 15px;
  height: 15px;
}
