* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('../public/background.png');
  font-family: 'GmarketSansMedium';
  color: #333;
  font-weight: normal;
}

a { 
  text-decoration: none;
  color: inherit;
}

a:hover { 
  color: #F0CA61;
}

main {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

input {
  outline: none;
  font-family: inherit;
  border-radius: 10px;
}

input:focus {
  border: 3px solid #F0CA61;
}

button {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 1);
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

select {
  font-family: inherit;
  text-align: center;
  border-radius: 10px;
}

select:focus {
  border: 3px solid #F0CA61;
}

option {
  background-color: #F0CA61;
}

textarea {
  font-family: inherit;
}

textarea:focus {
  border: 3px solid #F0CA61;
}

.button {
  border: #997000 solid 3px;
  border-radius: 10px;
  font-weight: bold;
}

.notice {
  line-height: 30px;
  margin-bottom: 0.5rem;
}

.notice > div {
  width: max-content;
  margin: 0 auto;
  display: flex;
}

.notice img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (hover: none) and (pointer: coarse) {
  body {
    overflow-x: hidden;
  }
}