* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-weight: bold;
  background-image: url(../public/background.png);
}

a { 
  text-decoration: none;
  color: inherit;
}

a:hover { 
  color: #F0CA61;
}

main {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

input {
  outline: none;
}
