* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-weight: bold;
  background-image: url(../public/background.png);
}

a { 
  text-decoration: none;
  color: inherit;
}

a:hover { 
  color: #F0CA61;
}


/* Header */
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.page-name {
  text-align: center;
  font-size: 2.2rem;
  line-height: 80px;
}

nav {  
  width: 500px;
  border-radius: 10px;
  display: none;
  margin: 0 auto;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.show-menu {
  display: block;
  background-color: #fff;
}

.menu-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  padding-left: 0;
  margin-left: 0;
  top: 70px;
}

.menu:not(:last-child) {
  margin-right: 3rem;
}



/* Main */
main {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Banner */
.banner-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.main-introduction {
  width: 100%;
  text-align: center;
  line-height: 4rem;
  font-size: 1.8rem;
  color: black;
}



/* Login */
.login-form {
  display: flex;
  height: 150px;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-right: 1.5rem;
}

.input-box:first-child {
  margin-bottom: 1.5rem;
}

.input-label {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
}

.input-info {
  background-color: skyblue;
  color: #fff;
  width: 12rem;
  height: 4rem;
  font-size: 1.5rem;
  text-align: center;
}

.login-button {
  width: 100px;
  height: inherit;
  text-align: center;
  color: #997000;
  border: #997000 solid 3px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  font-weight: bold;
}

.login-button:hover {
  cursor: pointer;
}

.join {
  text-align: center;
  color: darkgray;
}

.join:hover {
  cursor: pointer;
}



/* Join & Mypage */
.info-title {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.info-form {
  text-align: center;
}

.form-section {
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;
  padding-right: 6rem;
}

.form-item {
  margin-bottom: 1rem;
}

.form-label {
  margin-right: 1rem;
  font-size: 1.1rem;
}

.form-input {
  width: 200px;
  height: 40px;
  background-color: skyblue;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
}

.button-container {
  width: 100%;
  padding-left: 1.5rem;
}

.form-button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.form-button:hover {
  cursor: pointer;
}

.cancel-button {
  margin-right: 1rem;
  border: darkred solid 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

.submit-button {
  margin-right: 1rem;
  border: darkblue solid 3px;
  background-color: rgba(255, 255, 255, 0.5);
}



/* Mydiary */
.mydiary {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.mydiary-section {
  width: 932px;
}

.favorite-section {
  margin-bottom: 3rem;
  overflow: hidden;
}

.mydiary-title {
  margin-bottom: 1rem;
}

.sort-selection {
  width: 90px;
  height: 30px;
  margin-bottom: 1rem;
  font-weight: bold;
  color: rgb(103, 103, 103);
  border: rgb(103, 103, 103) solid 3px;
  outline: none;
}

.sort-option {
  font-weight: bold;
}


.mydiary-favorites {
  display: flex;
  list-style: none;
  justify-content: center;
}

.favorite-item {
  width: 300px;
  height: 300px;
  background-color: skyblue;
  border-radius: 30px;
}

.favorite-item:not(:last-child) {
  margin-right: 1rem;
}

.diary-section {
  margin-bottom: 3rem;
}

.diary-section-container {
  width: 100%;
  display: flex;
  position: relative;
}

.diary-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.button-image {
  width: 50px;
  height: 50px;
  border: none;
}

.left-button {
  position: absolute;
  top: 45%;
  left: -70px;
}

.right-button {
  position: absolute;
  top: 45%;
  right: -70px;
}

.diary-container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.diary {
  width: 300px;
  height: 300px;
  background-color: skyblue;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.diary:not(:nth-child(3n)) {
  margin-right: 1rem;
}



/* DetailedDiary */
.detailed-diary {
  width: 50%;
}

.diary-crud {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.crud-icon {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.icon-image {
  width: 30px;
  height: 30px;
}

.crud-icon:not(:last-child) {
  margin-right: 1rem;
}

.diary-pictures {
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
  border-radius: 30px;
}

.diary-info {
  display: flex;
  margin-bottom: 1rem;
  font-weight: normal;
  justify-content: space-between;
  font-size: 1rem;
}

.diary-info-item {
  background-color: white;
  line-height: 2rem;
  flex-basis: 30%;
  text-align: center;
  border: 3px solid #997000;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
}

.diary-title {
  width: 100%;
  background-color: white;
  margin-bottom: 1rem;
  line-height: 2rem;
  font-size: 1.3rem;
  border: 3px solid #997000;
  border-radius: 10px;
  font-weight: normal;
  padding: 0 1rem;
  outline: none;
}

.diary-content {
  padding: 0 1rem;
  line-height: 2rem;
  border: 3px solid #997000;
  margin-bottom: 3rem;
  background: repeating-linear-gradient(white, white 30px, #997000 30px, #997000 33px);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: normal;
  outline: none;
}



/* WriteDiary */
.over-height {
  height: 100%;
}

.write-diary {
  width: 50%;
}

.attachments-box {
  background-color: skyblue;
  display: block;
  width: 100%;
  height: 500px;
  border: darkgray 3px solid;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  line-height: 500px;
}

.write-attachments {
  display: none;
}

.weather-radio {
  border: 3px solid #997000;
  border-radius: 10px;
  width: 33%;
  text-align: center;
}

.weather-radio input[type=radio] {
  display: none;
}

.weather-radio input[type=radio] + label {
  font-size: 1.5rem;
  color: darkgray;
}

.weather-radio input[type=radio] + label:not(:last-child) {
  margin-right: 1rem;
}

.weather-radio input[type=radio]:checked + label {
  color: black;
}

.write-content {
  resize: none;
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}

.write-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.write-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: relative;
}

.write-button:first-child {
  margin-right: 1rem;
}

.write-button img {
  width: 55px;
  height: 50px;
}

.write-button div{
  position: absolute;
  bottom: 9px;
  left: 14px;
  color: #fff;
  font-weight: bold;
}

